<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElDewrito_Multi_Instance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ElDewrito_Multi_Instance.Properties.Settings>
            <setting name="Fullscreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenResolution" serializeAs="String">
                <value>1920X1080</value>
            </setting>
            <setting name="GraphicsQuality" serializeAs="String">
                <value>high</value>
            </setting>
            <setting name="AntiAliasing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfInstances" serializeAs="String">
                <value>1</value>
            </setting>
        </ElDewrito_Multi_Instance.Properties.Settings>
    </userSettings>
</configuration>